# Preprocessing data

## Environment

In [16]:
import os
import pandas as pd
WD = "/Users/niche/Library/CloudStorage/OneDrive-VirginiaTech/_03_Papers/find_ants/"

In [14]:
os.chdir(os.path.join(WD, "data"))

In [17]:
os.listdir(os.path.join(WD, "data"))

['OHA_R.xlsx',
 '.DS_Store',
 'test_trials',
 'README.md',
 'dataset.py',
 'honey_trials_v2',
 'honey_trials',
 'sugar_trials',
 'peptone_sucrose',
 'OHA Foraging Trials.xlsx']

In [30]:
path_meta = os.path.join(WD, "data", "OHA Foraging Trials.xlsx")
dict_meta = pd.read_excel(path_meta, sheet_name=None)

In [27]:
dict_meta.keys()

dict_keys(['OHA Colonies', 'Set-up', 'Peptone vs Sucrose 1', 'P v S 2', 'P v S 3', 'P v S 4', 'P v S 5', 'P v S 6', 'P v S 7', 'P v S 8', 'P v S 9', 'Honey V2 Trial 1', 'Honey V2 Trial 2', 'Honey V2 Trial 3', 'Honey V2 Trial 4', 'Honey V2 Trial 5', 'Honey V2 Trial 6', 'Honey V2 Trial 7', 'Honey V2 Trial 8', 'Honey V2 Trial 9', 'Honey V2 Trial 10', 'Honey V2 Trial 11', 'Sugar 1', 'Sugar 2', 'Sugar 3', 'Sugar 4', 'Honey V1 Trial 1', 'Honey V1 Trial 2', 'Honey V1 Trial 3', 'Honey V1 Trial 4'])

In [32]:
dict_meta["P v S 2"]

,Photo Number G0011...,Time,Sucrose,Peptone,Total Foragers,Unnamed: 5
0,145.0,16:32:00,0,0.0,0,NaN
1,146.0,17:02:00,11,2.0,13,NaN
2,147.0,17:32:00,8,4.0,12,NaN
3,148.0,18:02:00,14,11.0,25,NaN
4,149.0,18:32:00,12,12.0,24,NaN
...,...,...,...,...,...,...
80,225.0,1900-01-02 08:32:00,0,0.0,0,NaN
81,226.0,1900-01-02 09:02:00,3,0.0,3,NaN
82,227.0,1900-01-02 09:32:00,2,2.0,4,NaN
83,228.0,1900-01-02 10:02:00,1,0.0,1,NaN
84,NaN,NaN,251,NaN,433,0.579677